<?xml version="1.0" encoding="${encoding}" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Frameset//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-frameset.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
<title>JForum - Administration interface</title>
<meta http-equiv="Content-Type" content="text/html; charset=${encoding}" />
<style type="text/css">
frame {
    border: none;
    margin: 0;
    padding: 0;
}
</style>
</head>

<frameset rows="*" cols="170,*">
  <frame src="${JForumContext.encodeURL("/admBase/menu")}" name="leftFrame" frameborder="0" scrolling="no" noresize="noresize" />
  <frame src="${JForumContext.encodeURL("/admBase/main")}" name="main" frameborder="0" />
  <noframes>
    <body>
    </body>
  </noframes>
</frameset>

</html>