<#setting number_format = "#"/>
<#assign language = language?default("en_US")/>
<?xml version="1.0" encoding="${encoding}" ?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<link rel="stylesheet" type="text/css" href="${contextPath}/templates/${templateName}/styles/style.css" />
<link rel="stylesheet" type="text/css" href="${contextPath}/templates/${templateName}/styles/${language}.css" />
<title>Main</title>
</head>
<body>
<!-- MAIN TABLE -->
<table width="98%" height="100%" align="center" valign="top">
	<tr>
		<td valign="top" height="100%">
			<table width="100%">
				<tr>
					<td valign="top">
						<table width="100%" align="center" cellpadding="3" cellspacing="1">
							<tr>
								<td valign="top">
									<table width="100%">
										<tr>
											<td width="100%">
												<#include moduleAction>
											</td>
										</tr>
									</table>
								</td>
							</tr>
						</table>
					</td>
				</tr>
			</table>
		</td>
	</tr>
	<tr>
		<td>
			<br />
			<center><i><span class="gen">Copyright &copy; <a href="http://www.jforum.net" target="_blank">JForum Team</a>. All Rights Reserved.</span></i></center>
		</td>
	</tr>
</table>
</body>
</html>
