.it_IT .icon_new_topic img { background-image: url(../images/it_IT/post.gif); width: 120px; height: 25px; }
.it_IT .icon_reply img { background-image: url(../images/it_IT/reply.gif); width: 75px; height: 25px; }
.it_IT .icon_reply_locked img { background-image: url(../images/it_IT/reply_locked.gif); width: 82px; height: 25px; }
.it_IT .icon_quote img { background-image: url(../images/it_IT/icon_quote.gif); width: 48px; height: 18px; }
.it_IT .icon_edit img { background-image: url(../images/it_IT/icon_edit.gif); width: 77px; height: 18px; }
.it_IT .icon_profile img { background-image: url(../images/it_IT/icon_profile.gif); width: 59px; height: 18px; }
.it_IT .icon_pm img { background-image: url(../images/it_IT/icon_pm.gif); width: 59px; height: 18px; }
