<!-- SyntaxHighlighter -->
<script type="text/javascript" src="${contextPath}/javascript/shCore.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shLegacy.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushBash.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushBat.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushCpp.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushCSharp.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushCss.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushDelphi.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushDiff.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushGroovy.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushJava.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushJScript.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPhp.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPlain.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPython.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushRuby.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPerl.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushScala.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushSql.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushVb.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushXml.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushAS3.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushJavaFX.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushPowerShell.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushColdFusion.js"></script>
<script type="text/javascript" src="${contextPath}/javascript/shBrushErlang.js"></script>
<script type="text/javascript">
/* <![CDATA[ */
  SyntaxHighlighter.config.clipboardSwf = '${contextPath}/javascript/clipboard.swf';
  SyntaxHighlighter.all();
/* ]]> */
</script>
